@import '../../../utils/utils';
.inputContainer {
  @extend %flexRowAligned;
  position: relative;
  padding: 0.6em;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 250px;

  & .inputInner {
    @extend %flexRowAligned;
    border: none;
    padding: 0.2em;
    & .input {
      border:none;
      border-bottom: 1px solid black;
      outline: none;
      padding: 0.2em;
      font-size: 18px;
      &.error {
        border-bottom: 1px solid red;
      }
      &.validated {
        border-bottom: 1px solid green;
      }
    }
  }

  & .message {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.7rem;
    color: red;
    width: 100%;
    @extend %flexRowAligned;
  }
}