.container {
  background: linear-gradient(to right bottom, #d1ccc0, white);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: inline-grid;
  place-items: center;
  min-height: 400px;
  position: relative;
  & .button {
    display: none;
    &.active {
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
    }

  }
  &.fsym {
    font-size: 25px;

  }
  &.distinctLine {
    stroke: white;
    stroke-width: 1px;
  }
  & * {
    user-select: none;
  }
}
@mixin candleStickShape() {
  stroke: black;
  stroke-width: 1px;
  fill: black;
  &.rise {
    fill: #b33939;
  }
  &.fall {
    fill: #4b7bec;
  }
}