.current{
  cursor: pointer;
  stroke: white;
  stroke-width: 1px;

  &.up {
    fill: #0652DD;
  }
  &.down {
    fill: #EA2027;
  }
  &.same {
    fill: black;
  }
  &:hover {
    stroke: snow;
    stroke-width: 2px;
  }
}