.current{
  cursor: pointer;
  stroke: white;
  stroke-width: 1px;
  &.up {
    fill: #b33939;
  }
  &.down {
    fill: #4b7bec;
  }
  &.same {
    fill: black;
  }
  &:hover {
    stroke: snow;
    stroke-width: 2px;
  }
}