@import '../../../utils/utils';

.authButton {
  @include CreateFlexLay(row, center, center);
  background-color: inherit;
  font-size: 14px;
  color: white;
  font-weight: bold;
  &.signed {
    &:hover {
      background-color: #706fd3;
      & .accountNav {
        visibility: visible;
      }
    }
    & .accountNav {
      color: black;
      position: absolute;
      left: 0;
      border: 1px solid black;
      border-top: none;
      background-color: #95afc0;
      @include CreateFlexLay(column);
      height: auto;
      visibility: hidden;
      transition: opacity 0.2s ease-in;
      position: absolute;
      top: 100%;
      width: 100%;
      list-style: none;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0;
    }


    & .userName {
      position: relative;
      width: 100%;
      height: 100%;
      padding-left: 1em;
      padding-right: 1em;
      & .namePart{
        @include CreateFlexLay(column, center, center);
        width: 100%;
        height: 100%;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

    }
  }

  & a {
    display: flex;
  }
  & a:visited {
    color: white;
  }
  & a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  & a:first-child {
    margin-right: 10px;
  }
  & .hoverBar {
    display: none;
  }
}
