@import './SearchResultItem';

.container {
  background-color: #2c2c54;
  &:hover {
    background-color: #1e3799;
  }
  & .link {
    color: white;
    &:visited {
      color: white;
      text-decoration: none;
    }
  }
}