.container {
  border: 1px solid black;
  background-color: #95afc0;
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% - 5px);
  width: 100%;
  height: 0px;
  transition: height 0.2s ease;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  &.on {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 1px;
    height: 300px;
  }
}