@import '../../../utils/utils';

.container {
  border: 1px solid black;
  border-top: none;
  background-color: #dcdde1;
  @include CreateFlexLay(column);
  height: auto;
  visibility: hidden;
  transition: opacity 0.2s ease-in;
  position: absolute;
  left: 0;
  top: calc(100% - 5px);
  width: 100%;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  z-index: 5;
  &.on {
    visibility: visible;
    transition: visibility 0.4s ease-out;
  }
}