@import '../../../utils/utils';

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%;
  border-bottom: 1px solid black;
  background: linear-gradient(to left bottom, #d1ccc0, white);
}