
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  background-color: white;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 40px auto;
  & .innerContainer {
    // padding: 20px;
  }
}