@import '../../utils/utils';
.container {
 @extend %flexColumnAligned;
  height: 100%;
  & .form {
    @extend %flexColumnAligned;
    border: 1px solid black;
    padding: 2em;
    & .buttonHolder {
      display: flex;
    }
  }
}
